.navbar {
  display: flex;
  gap: 6px;
}
.div1 {
  display: flex;
  gap: 300px;
  padding-left: 20px;
  color: white;
  background-color: black;
  padding-top: 12px;
  padding-top: 20px;
}
.fa-solid {
  color: yellow;
}
.main-container {
  display: flex;
  gap: 570px;
}
.ankar {
  display: flex;
}
.all-ankar {
  text-decoration: none;
  padding: 30px;
  color: white;
}
.all-ankar:hover {
  background-color: black;
  transition: ease-in 0.5s;
}
.section {
  background-image: url(/download.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 720px;
}
.section:hover {
  filter: brightness(40px);
}
.heading-1 {
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  padding-top: 60px;
}
.heading-2 {
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
  color: yellow;
  margin-top: -20px;
}
.para {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  line-height: 30px;
}
.heading {
  padding-left: 120px;
}
.button-1 {
  background-color: white;
  color: rgb(39, 35, 35);
  padding: 12px 20px;
  text-decoration: none;
}
.button-2 {
  background-color: rgb(218, 218, 23);
  color: white;
  padding: 12px 20px;
  text-decoration: none;
}
.button-1:hover {
  border: 2px solid white;
  color: white;
  background-color: black;
}
.button-2:hover {
  border: 2px solid yellow;
  color: yellow;
  background-color: rgba(0, 0, 0, 0.082);
}

.button {
  background-color: #04aa6d;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 50%;
}
